.loginForm {
    width: 528px;
    height: 458px;
    top: 154px;
    left: 120px;
    gap: 0px;
    border-radius: 5px 0px 0px 0px;
    opacity: 0px;
}

.signIn {
    background-color: #FF8A00 !important;
    width: 247px;
    height: 50px;
    top: 513px;
    left: 120px;
    gap: 0px;
    border-radius: 5px 0px 0px 0px;
    opacity: 0px;
}

.userInput {
    width: 528px;
    height: 50px;
    top: 384px;
    left: 120px;
    border-radius: 5px;
    opacity: 0px;
}

.txt{
    position: absolute;
    top: 50%;
    left: 30px;
    color: white;
    margin-top: -11%;
}


.content {
    padding: 20px 25px;
    width: 500px;
  }
  
.content > :first-child { margin-top: 0; }
.content > :last-child { margin-bottom: 0; }